<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ========== CSS STYLESHEET ========== -->
    <link rel="stylesheet" href="../../static/css/general.css">
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    
    <link rel="stylesheet" href="../../static/css/category_articles.css">

    <!-- ========== FONT STYLESHEETS ========== -->
    <link rel="stylesheet" href="../../static/fonts/Encode_Sans_Condensed/stylesheet.css">

    <!-- ========== ICONS STYLESHEET ========== -->
    <link rel="stylesheet" href="../../static/icons/box_icons/css/boxicons.css">

    <title>DEFAULT HOME |  CATEGORY ARTICLES</title>
</head>
<body>

    <!-- ========== HEADER START ========== -->
    <header class="header">
        <div class="container">

            <div class="header-wrapper">

                <a href="#" class="logo-brand">written today</a>

                <div class="row-group">

                    <ul class="our-social">
                        <li><a href="#" class="social-link"><span class="social-icon bx bxl-facebook"></span></a></li>
                        <li><a href="#" class="social-link"><span class="social-icon bx bxl-twitter"></span></a></li>
                        <li><a href="#" class="social-link"><span class="social-icon bx bxl-youtube"></span></a></li>
                    </ul>

                    <div class="search-form">

                        <form action="" method="">

                            <div class="form-group">
                                <input type="text" name="" placeholder="search headlines, news ..." class="search-input">
                            </div>

                            <div class="btn-box">
                                <button type="submit" class="search-btn"><span class='bx bx-right-arrow-circle'></span></button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
    </header>
    <!-- ========== HEADER END ========== -->

    <!-- ========== NAV BAR START ========== -->
    <nav class="navbar">
        <div class="container">

            <div class="nav-wrapper">

                <ul class="nav-links">
                    <li><a href="#" class="nav-link">home</a></li>
                    <li><a href="#" class="nav-link">economy</a></li>
                    <li><a href="#" class="nav-link">world</a></li>
                    <li><a href="#" class="nav-link">us today</a></li>
                    <li><a href="#" class="nav-link">pages</a></li>
                    <li><a href="#" class="nav-link">join us</a></li>
                </ul>

                <ul class="nav-others">
                    <li><span class="nav-icon bx bx-user" id="signin-popup-open"></span></li>
                    <li><span class="nav-icon bx bx-bell"></span></li>
                </ul>

            </div>

        </div>
    </nav>

    <section class="signin-popup" id="signin-popup">

        <div class="wrapper">

            <span class="close-popup bx bx-x" id="signin-popup-close"></span>

            <div class="img-box">
                <img src="../STATIC/img/registration-popup.png" alt="">
            </div>
    
            <div class="popup-text">
                <h1 class="primary-heading">Welcome Back!</h1>
    
                <h3 class="secondary-heading">Sign in to your account</h3>
            </div>
    
            <div class="popup-form">
    
                <form action="" method="">
    
                    <div class="inputBox">
                        <label for="username">username or email address</label>
                        <input type="text" name="" id="username" class="input-field">
                    </div>
    
                    <div class="inputBox">
                        <label for="password">password</label>
                        <input type="password" name="" id="password" class="input-field">
                    </div>
    
                    <div class="btn-box">
                        <button type="submit">sign in</button>
                    </div>
    
                </form>
    
            </div>
    
            <a href="#" class="lost-password">lost your password?</a>

        </div>

    </section>
    <!-- ========== NAV BAR END ========== -->

    <section class="category-articles section-pd">
        <div class="container">

            <div class="breadcrumb">
                <div class="container">
            
                    <ul class="breadcrumb-nav">
                        <li><a href="#" class="breadcrumb-link">home</a></li>
                        <li><span class="breadcrumb-item">category articles</span></li>
                    </ul>
            
                </div>
            </div>

            <div class="articles-wrapper row">

                <div class="overlay-card">
                    <div class="clearfix">

                        <div class="article-img">
                            <img src="../static/img/4.png" alt="">
                        </div>
            
                        <div class="article-data">
            
                            <a href="#" class="article-category business-category sm-flat-skew-category">business</a>
                            <a href="#" class="article-title light-text title-22">The impact of COVID-19 on The Airport Business</a>
                            
                            <div class="row-group flex-row align-center justify-between">
            
                                <div class="wrapper flex-row align-center">
            
                                    <div class="author-data flex-row align-center">
            
                                        <div class="author-img">
                                            <img src="../static/img/author.png" alt="">
                                        </div>
                
                                        <a href="#" class="author-name light-text">john doe</a>
                
                                    </div>
            
                                    <span class="posted-at">sep 19, 2021</span>
            
                                </div>
            
                                <a href="#" class="bookmark-icon bx bx-bookmark"></a>
            
                            </div>
            
                        </div>

                    </div>
                </div>

                <div class="overlay-card">
                    <div class="clearfix">

                        <div class="article-img">
                            <img src="../static/img/4.png" alt="">
                        </div>
            
                        <div class="article-data">
            
                            <a href="#" class="article-category business-category sm-flat-skew-category">business</a>
                            <a href="#" class="article-title light-text title-22">The impact of COVID-19 on The Airport Business</a>
                            
                            <div class="row-group flex-row align-center justify-between">
            
                                <div class="wrapper flex-row align-center">
            
                                    <div class="author-data flex-row align-center">
            
                                        <div class="author-img">
                                            <img src="../static/img/author.png" alt="">
                                        </div>
                
                                        <a href="#" class="author-name light-text">john doe</a>
                
                                    </div>
            
                                    <span class="posted-at">sep 19, 2021</span>
            
                                </div>
            
                                <a href="#" class="bookmark-icon bx bx-bookmark"></a>
            
                            </div>
            
                        </div>

                    </div>
                </div>

                <div class="overlay-card">
                    <div class="clearfix">

                        <div class="article-img">
                            <img src="../static/img/4.png" alt="">
                        </div>
            
                        <div class="article-data">
            
                            <a href="#" class="article-category business-category sm-flat-skew-category">business</a>
                            <a href="#" class="article-title light-text title-22">The impact of COVID-19 on The Airport Business</a>
                            
                            <div class="row-group flex-row align-center justify-between">
            
                                <div class="wrapper flex-row align-center">
            
                                    <div class="author-data flex-row align-center">
            
                                        <div class="author-img">
                                            <img src="../static/img/author.png" alt="">
                                        </div>
                
                                        <a href="#" class="author-name light-text">john doe</a>
                
                                    </div>
            
                                    <span class="posted-at">sep 19, 2021</span>
            
                                </div>
            
                                <a href="#" class="bookmark-icon bx bx-bookmark"></a>
            
                            </div>
            
                        </div>

                    </div>
                </div>

            </div>

            <div class="pagination flex-row align-center justify-center">

                <ul class="pagination-nav flex-row align-center">
            
                    <li><a href="#" class="pagination-link prev-page"></a></li>
                    <li><a href="#" class="pagination-link active">1</a></li>
                    <li><a href="#" class="pagination-link">2</a></li>
                    <li><a href="#" class="pagination-link">2</a></li>
                    <li><a href="#" class="pagination-link next-page"></a></li>
                    
                </ul>
            
            </div>

        </div>
    </section>

    <!-- ========== FOOTER START ========== -->
    <footer class="footer">
        <div class="container">

            <div class="footer-wrapper">

                <div class="footer-box" style="padding-right: 25px;">
                    <div class="inner">

                        <h1 class="footer-logo">written today</h1>

                        <ul class="footer-links">
                            <li><a href="#" class="footer-link">home</a></li>
                            <li><a href="#" class="footer-link">blog</a></li>
                            <li><a href="#" class="footer-link">complaint</a></li>
                            <li><a href="#" class="footer-link">advertise</a></li>
                        </ul>

                    </div>
                </div>

                <div class="footer-box footer-newsletter">
                    <div class="inner">

                        <h1 class="lg-heading">subscribe to our newsletter</h1>

                        <div class="newsletter-form">

                            <form action="" method="">
    
                                <div class="form-group">
                                    <input type="text" name="" placeholder="your email address" class="newsletter-input">
                                </div>
    
                                <div class="btn-box">
                                    <button type="submit" class="newsletter-btn">sign up now</button>
                                </div>
    
                            </form>
    
                        </div>

                    </div>
                </div>

                <div class="footer-box" style="padding-left: 25px;">
                    <div class="inner">

                        <h1 class="text-heading">Find Us on Socials</h1>

                        <ul class="footer-links">
                            <li><a href="#" class="footer-link">privacy policy</a></li>
                            <li><a href="#" class="footer-link">terms and condition</a></li>
                            <li><a href="#" class="footer-link">contact us</a></li>
                            <li><a href="#" class="footer-link">advertise with us</a></li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>
    </footer>

    <section class="sm-footer">
        <p>&copy; 2022 Foxiz News Network. Omar M Khalaf. All Rights Reserved.</p>
    </section>
    <!-- ========== FOOTER END ========== -->

    <script src="../STATIC/scripts/jquery.min.js"></script>
    <script src="../STATIC/scripts/jquery.js"></script>
    <script src="../STATIC/scripts/script.js"></script>

</body>
</html>


