<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ========== CSS STYLESHEET ========== -->
    <link rel="stylesheet" href="../../static/css/general.css">
    <link rel="stylesheet" href="../../static/css/font.css">
    <link rel="stylesheet" href="../../static/css/main.css">
    
    <link rel="stylesheet" href="../../static/css/contact.css">

    <!-- ========== FONT STYLESHEETS ========== -->
    <link rel="stylesheet" href="../../static/fonts/Encode_Sans_Condensed/stylesheet.css">

    <!-- ========== ICONS STYLESHEET ========== -->
    <link rel="stylesheet" href="../../static/icons/box_icons/css/boxicons.css">

    <title>DEFAULT HOME | CONTACT US</title>
</head>
<body>

    <!-- ========== HEADER START ========== -->
    <header class="header">
        <div class="container">

            <div class="header-wrapper">

                <a href="#" class="logo-brand">written today</a>

                <div class="row-group">

                    <ul class="our-social">
                        <li><a href="#" class="social-link"><span class="social-icon bx bxl-facebook"></span></a></li>
                        <li><a href="#" class="social-link"><span class="social-icon bx bxl-twitter"></span></a></li>
                        <li><a href="#" class="social-link"><span class="social-icon bx bxl-youtube"></span></a></li>
                    </ul>

                    <div class="search-form">

                        <form action="" method="">

                            <div class="form-group">
                                <input type="text" name="" placeholder="search headlines, news ..." class="search-input">
                            </div>

                            <div class="btn-box">
                                <button type="submit" class="search-btn"><span class='bx bx-right-arrow-circle'></span></button>
                            </div>

                        </form>

                    </div>

                </div>

            </div>

        </div>
    </header>
    <!-- ========== HEADER END ========== -->

    <!-- ========== NAV BAR START ========== -->
    <nav class="navbar">
        <div class="container">

            <div class="nav-wrapper">

                <ul class="nav-links">
                    <li><a href="#" class="nav-link">home</a></li>
                    <li><a href="#" class="nav-link">economy</a></li>
                    <li><a href="#" class="nav-link">world</a></li>
                    <li><a href="#" class="nav-link">us today</a></li>
                    <li><a href="#" class="nav-link">pages</a></li>
                    <li><a href="#" class="nav-link">join us</a></li>
                </ul>

                <ul class="nav-others">
                    <li><span class="nav-icon bx bx-user" id="signin-popup-open"></span></li>
                    <li><span class="nav-icon bx bx-bell"></span></li>
                </ul>

            </div>

        </div>
    </nav>

    <section class="signin-popup" id="signin-popup">

        <div class="wrapper">

            <span class="close-popup bx bx-x" id="signin-popup-close"></span>

            <div class="img-box">
                <img src="../STATIC/img/registration-popup.png" alt="">
            </div>
    
            <div class="popup-text">
                <h1 class="primary-heading">Welcome Back!</h1>
    
                <h3 class="secondary-heading">Sign in to your account</h3>
            </div>
    
            <div class="popup-form">
    
                <form action="" method="">
    
                    <div class="inputBox">
                        <label for="username">username or email address</label>
                        <input type="text" name="" id="username" class="input-field">
                    </div>
    
                    <div class="inputBox">
                        <label for="password">password</label>
                        <input type="password" name="" id="password" class="input-field">
                    </div>
    
                    <div class="btn-box">
                        <button type="submit">sign in</button>
                    </div>
    
                </form>
    
            </div>
    
            <a href="#" class="lost-password">lost your password?</a>

        </div>

    </section>
    <!-- ========== NAV BAR END ========== -->

    <section class="contact section-pd">
        <div class="container">

            <h1 class="primary-heading">Get In Touch</h1>
            <h2 class="second-heading">Contact US</h2>

            <div class="contact-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d54585.963261083074!2d29.982719999999997!3d31.231180799999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sar!2seg!4v1653938272312!5m2!1sar!2seg" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <div class="contact-wrapper row">

                <div class="left-align">
                    <div class="wrapper">
                        
                        <h1 class="heading">General Customer Care & Technical Support</h1>
                        <p class="text-description">As we address the needs of our customers, email wait times may be longer than usual. In an effort to give you the best customer experience possible, we encourage you to take advantage of our phones. In most cases this is the fastest and easiest option.</p>

                        <div class="contact-form">
                            <form action="" method="">

                                <div class="inputBox">
                                    <input type="email" name="user_email" placeholder="email" class="input-field">
                                </div>

                                <div class="inputBox">
                                    <input type="text" name="message_subject" placeholder="subject" class="input-field">
                                </div>

                                <div class="textBox">
                                    <textarea name="user_message" placeholder="message" cols="30" rows="10"></textarea>
                                </div>

                                <div class="btn-box">
                                    <button type="submit" class="contact-btn">leave a message</button>
                                </div>

                            </form>
                        </div>

                    </div>
                </div>

                <div class="right-align">
                    <div class="wrapper">

                        <div class="office-info">

                            <h1 class="text-label">Office Address</h1>
                            
                            <ul>
                                <li><span class="address">The Business Centre</span></li>
                                <li><span class="state">132, My Street</span></li>
                                <li><span class="city">Kingston, New York 12401</span></li>
                                <li><span class="country">United States</span></li>
                            </ul>

                        </div>
                        
                        <div class="call-info">

                            <h1 class="text-label">Call Information</h1>

                            <ul>
                                <li>
                                    <span class="call-label">Phone:</span>
                                    <span class="call-data">(+1) 234 567 89</span>
                                </li>
                                <li>
                                    <span class="call-label">Tel:</span>
                                    <span class="call-data">+1-541-234-3010</span>
                                </li>
                                <li>
                                    <span class="call-label">Email:</span>
                                    <span class="call-data">themeruby@gmail.com</span>
                                </li>
                            </ul>

                        </div>

                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- ========== FOOTER START ========== -->
    <footer class="footer">
        <div class="container">

            <div class="footer-wrapper">

                <div class="footer-box" style="padding-right: 25px;">
                    <div class="inner">

                        <h1 class="footer-logo">written today</h1>

                        <ul class="footer-links">
                            <li><a href="#" class="footer-link">home</a></li>
                            <li><a href="#" class="footer-link">blog</a></li>
                            <li><a href="#" class="footer-link">complaint</a></li>
                            <li><a href="#" class="footer-link">advertise</a></li>
                        </ul>

                    </div>
                </div>

                <div class="footer-box footer-newsletter">
                    <div class="inner">

                        <h1 class="lg-heading">subscribe to our newsletter</h1>

                        <div class="newsletter-form">

                            <form action="" method="">
    
                                <div class="form-group">
                                    <input type="text" name="" placeholder="your email address" class="newsletter-input">
                                </div>
    
                                <div class="btn-box">
                                    <button type="submit" class="newsletter-btn">sign up now</button>
                                </div>
    
                            </form>
    
                        </div>

                    </div>
                </div>

                <div class="footer-box" style="padding-left: 25px;">
                    <div class="inner">

                        <h1 class="text-heading">Find Us on Socials</h1>

                        <ul class="footer-links">
                            <li><a href="#" class="footer-link">privacy policy</a></li>
                            <li><a href="#" class="footer-link">terms and condition</a></li>
                            <li><a href="#" class="footer-link">contact us</a></li>
                            <li><a href="#" class="footer-link">advertise with us</a></li>
                        </ul>

                    </div>
                </div>

            </div>

        </div>
    </footer>

    <section class="sm-footer">
        <p>&copy; 2022 Foxiz News Network. Omar M Khalaf. All Rights Reserved.</p>
    </section>
    <!-- ========== FOOTER END ========== -->

    <script src="../STATIC/scripts/jquery.min.js"></script>
    <script src="../STATIC/scripts/jquery.js"></script>
    <script src="../STATIC/scripts/script.js"></script>

</body>
</html>

